body {
  font-size: 16px;
  font-weight: 300;
}

.container {
  max-width: 1000px;
}

p,
ul,
li {
  padding: 0;
  margin: 0;
}

header {
  height: 310px;
  background-color: #ced3df;
  border-bottom: 2px solid #c7c7c7;
}

.mt-70px {
  margin-top: 70px;
}

.bg-pink {
  padding: 30px 0;
  background-color: #fbf6fd;
}

footer {
  background-color: #ced2de;
  border-top: 2px solid #c7c7c7;
  border-bottom: 2px solid #c7c7c7;
  padding-bottom: 80px;
}

footer h6 {
  margin-top: 40px;
}

footer ul {
  margin-top: 25px;
  list-style: none;
}

footer a {
  display: block;
  color: #212529;
  text-decoration: none;
  padding: 2px 0;
}

footer a:hover,
footer a:active {
  color: #212529;
  font-weight: 400;
}
